header{
    background: linear-gradient(180deg, #102347 0%, #181818 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 220px;
}

.titulo-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titulo-container img{
    width: 235px;
    border-radius: 50px;
    
}

.titulo-container h1{
    font-family: 'Splash', sans-serif;
    margin-top: 25px;
    font-size: 28px;
}
.logo-container p{
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: 300px;
}
